@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dcp-orange: #db691b;
    --dcp-orange-dark: #833E10;
    --dcp-orange-light: #FBEFE8;
    --dcp-yellow: #ffc861;
    --contrast-blue: #287bd9;
    --contrast-blue-light: #89cef6;
    --contrast-blue-darker: #246fc3;
    --contrast-blue-darkest: #08192b;
    --transparent-white: rgba(255, 255, 255, 0);
}

#root {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--contrast-blue-darker);
}

.gradient {
    background: linear-gradient(rgba(40, 123, 217, 1), rgba(255, 255, 255, 0));
}

.green-glow {
    text-shadow: 0 0 0.125em lime;
}

.nav-active {
    background: var(--contrast-blue-darker);
    color: white;
}

/* .command {
    border-left: 2px solid var(--contrast-blue);
    padding-left: 1em;
} */

h1, h2, h3 {
    font-weight: bold;
    margin-bottom: 1em;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.4em;
    font-weight: bold;
}

h3 {
    font-size: 1.2em;
}

p {
    margin-bottom: 1em;
}

ul {
    list-style-type: square;
    margin-bottom: 1em;
    line-height: 1.6;
}

ul ul {
    padding-left: 2em;
}

code {
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 2px;
    font-size: 85%;
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-family: monospace, monospace;
    letter-spacing: -0.03em;
}

.assumption {
    font-family: monospace, monospace;
    font-size: 75%;
    letter-spacing: -0.03em;
    color: var(--contrast-blue-light);
}

a {
    color: var(--contrast-blue-darker);
    text-decoration: underline;
}

input {
    border-bottom: 1px solid var(--contrast-blue-darker);
}

select {
    border: 1px solid var(--contrast-blue-darker);
}

button, .button {
    border: 1px solid var(--contrast-blue-darker);
    color: var(--contrast-blue-darker);
    cursor: pointer;
    text-decoration: none;
    padding: 0.25em;
    margin-top: -0.25em;
    vertical-align: baseline;
    background: white;
}

button:active, .button:active {
    background: var(--contrast-blue-darker);
    color: white;
}

.button-active {
    background: var(--contrast-blue-darker);
    color: white;
}

.square {
    padding-top: 100%;
}

.adjust-top {
    margin-top: -2em;
}

.label {
    font-size: 75%;
    letter-spacing: -0.03em;
}
